@@model List<GestionContableYugen.ViewModels.CierreCajaViewModel>

    <h2>Lista de Cierres de Caja</h2>

    <a asp-action="Create" class="btn btn-primary">Nuevo Cierre de Caja</a>

    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Saldo Inicial</th>
                <th>Ingresos</th>
                <th>Egresos</th>
                <th>Saldo Final</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cierre in Model)
            {
                <tr>
                    <td>@cierre.FechaCierre.ToShortDateString()</td>
                    <td>@cierre.SaldoInicial</td>
                    <td>@cierre.TotalIngresos</td>
                    <td>@cierre.TotalEgresos</td>
                    <td>@cierre.SaldoFinal</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@cierre.CierreID" class="btn btn-warning">Editar</a>
                        <a asp-action="Delete" asp-route-id="@cierre.CierreID" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
